fastapi
uvicorn
psycopg2-binary
requests
oracledb
pydantic
python-multipart
langchain-community
langchain-huggingface
sentence-transformers
langchain_core
langchain
transformers
tf-keras
pandas
chromadb
huggingface_hub[hf_xet] 
logger