fastapi
uvicorn
psycopg2-binary
requests
oracledb
pydantic
python-multipart
langchain-community
langchain-huggingface
langchain-openai
sentence-transformers
langchain_core
langchain
transformers
tf-keras
pandas
faiss-gpu-cu11
huggingface_hub[hf_xet] 
sqlalchemy
unidecode